In [1]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\debjit\appdata\roaming\python\python36\site-packages (1.19.3)

In [2]:
list=[1,2,3]
print(list)

[1, 2, 3]

In [3]:
import numpy as np

# numpy gives 0-(N-1) numbers by arange function and its faster than normal python list  bcz numpy is written in C(low lvl lng)

In [4]:
arr = np.arange(1000000)
print(arr)

[     0      1      2 ... 999997 999998 999999]

In [5]:
pythlist= list(range(1000000))

TypeError: 'list' object is not callable

In [6]:
%time for _ in range(10): [item*3 for item in pythlist]

NameError: name 'pythlist' is not defined

In [7]:
%time for _ in range(10): arr= arr*3

Wall time: 14 ms

In [8]:
print(arr)

[          0       59049      118098 ... -1080719291 -1080660242
 -1080601193]

In [9]:
 ar=np.array([3,5,7,8,9])

# use( from numpy import * )to import all functions of numpy

In [10]:
array2 = np.array([[3,2,0.5,7,0],[1,12,3,4,5]])
print(array2)
print(type(array2))

[[ 3.   2.   0.5  7.   0. ]
 [ 1.  12.   3.   4.   5. ]]
<class 'numpy.ndarray'>

In [11]:
array2.shape

(2, 5)

In [12]:
array2.dtype

dtype('float64')

In [13]:
array1 = np.array([[3,2,0.5,7,0],[1,12,3,4,5]], dtype='int32')
print(array1)
print(type(array1))

[[ 3  2  0  7  0]
 [ 1 12  3  4  5]]
<class 'numpy.ndarray'>

In [14]:
np.zeros(4)

array([0., 0., 0., 0.])

In [15]:
np.zeros((4,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [16]:
np.ones(4).dtype

dtype('float64')

# amra array nicchi  mne nischoi kono kaj e nicchi tai jate data nh loss hoi automatically float niye neii

In [17]:
np.empty((4,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

# most of the cases 0 nei but ja khusi nite pare garbage hye jete pare

In [18]:
array3= np.array([[3,2,0.5,7,0],[1,12,3,4,5],[0,0,0,0,0]])
print(array3)

[[ 3.   2.   0.5  7.   0. ]
 [ 1.  12.   3.   4.   5. ]
 [ 0.   0.   0.   0.   0. ]]

In [19]:
array1

array([[ 3,  2,  0,  7,  0],
       [ 1, 12,  3,  4,  5]])

# numpy arithmatic

In [20]:
array1*array1

array([[  9,   4,   0,  49,   0],
       [  1, 144,   9,  16,  25]])

# element wise multiply krbe matrix wise nh

In [21]:
array1+array1

array([[ 6,  4,  0, 14,  0],
       [ 2, 24,  6,  8, 10]])

In [22]:
array1-array1

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [23]:
array1**array1

array([[        27,          4,          1,     823543,          1],
       [         1, -251658240,         27,        256,       3125]],
      dtype=int32)

# 3 to the power 3 ,,, 7 to the power 7 hye jabe ......and (-ve) asche karon int 32 oto long data(12^12) store krte parrbe nh

In [24]:
np.array(12**12)

array(8916100448256, dtype=int64)

In [25]:
np.array([12**12], dtype='int32')

OverflowError: Python int too large to convert to C long

In [26]:
1/ar

array([0.33333333, 0.2       , 0.14285714, 0.125     , 0.11111111])

# numpy slicing

In [27]:
arr

array([          0,       59049,      118098, ..., -1080719291,
       -1080660242, -1080601193])

In [28]:
ar

array([3, 5, 7, 8, 9])

In [29]:
ars=ar[2:5].copy()

# 2 to 4 index print hbe
ars=[7,8,9]

In [30]:
ars

array([7, 8, 9])

In [31]:
ars[0]=11

In [33]:
ars

array([11,  8,  9])

# nxt line

In [32]:
ar

array([3, 5, 7, 8, 9])

# value of ars[0]=7 become changes to 11 but ar er value nh cgnfe krte chaile .copy() use lrte hbe

In [34]:
array2

array([[ 3. ,  2. ,  0.5,  7. ,  0. ],
       [ 1. , 12. ,  3. ,  4. ,  5. ]])

In [35]:
array2(0)

TypeError: 'numpy.ndarray' object is not callable

In [36]:
array2[0]

array([3. , 2. , 0.5, 7. , 0. ])

In [37]:
array2[0,3]

7.0